 
body, html {
	margin: 0;
	padding: 0;
	background-color: #3B4CCA;
	font-family: pokemon-font;
	font-weight: lighter;
	letter-spacing: 3px;
}
@font-face {
	font-family: pokemon-font;
	src: url('fonts/Pokemon\ Solid.ttf')  format('truetype');
}

::-webkit-scrollbar {
    display: none;
}


#toggleBtn {
	display: flex;
	margin: auto;
	margin-top: 1em;
	border-radius: 0.6em;
	border: 2px solid #FFDE00;
	background-color: rgb(240, 83, 83);
	font-family: pokemon-font;
	font-size: xx-small;
	line-height: 14px;
	letter-spacing: 2px;
}

.header-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	box-shadow: -0px 1px 20px 5px #4877ad;
}

.line-up-header, #pokemonSearchHeader, #reservesHeader {
	display: flex;
	justify-content: space-evenly;
	margin-top: auto;
	color: #FFDE00;
}


#pokemonSearchHeader, #reservesHeader {
	display: none;
}

.pokemon-line-up {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: 20px;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
}

#reserveContainer {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: 20px;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
}


.pokemon-box-one, .pokemon-box-two, .pokemon-box-three, .reserve-box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 6em;
	height: 13em;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: rgb(240, 83, 83);
	color: #FFDE00;
	border-radius: 1em;
}



#addPoke {
	background-color: rgb(240, 83, 83);
	width: 2em;
	height: 2em;
	border-radius: 1em;
	border: 1px solid #FFDE00;
	color: #FFDE00;
}

#addPoke:hover {
	background-color: #FFDE00;
	color: rgb(240, 83, 83);
	box-shadow: inset 0px 0px 10px 0px rgb(240, 83, 83);
}

#pokemonSearchInput {
	width: 18em;
	height: 4em;
	border-radius: 0.6em;
	border: none;
	background-color: rgb(240, 83, 83);
	color: #FFDE00;
	font-family: pokemon-font;
}

#pokemonSearchInput::placeholder {
	color: #FFDE00;
	font-family: pokemon-font;
	padding-left: 0.3em;
	font-size: larger;
}

.pokemon-search-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 2em;
	margin-left: 0.3em;
	border-radius: 0.6em;
	border: 2px solid #FFDE00;
	
	background-color: rgb(240, 83, 83);
	color: #FFDE00;
	font-family: pokemon-font;
}

.pokemon-search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#messageContainer {
	display: flex;
	justify-content: center;
	color: #FFDE00;
	border: 1px solid #FFDE00;
	margin-bottom: 1em;
}

.suggestions {
	display: flex;
	flex-direction: column;
	position: absolute;
    width: 40%;
	height: 15em;
	margin-top: 20em;
	margin-right: 4.5em;
	list-style-type: none;
    z-index: 1;
	overflow-y: scroll;
	
}

.suggestions li {
    cursor: pointer;
	background-color: rgb(240, 83, 83);
	color: #FFDE00;
	padding-left: 2em;
}

.suggestions li::-webkit-scrollbar {
	display: none;
}

.suggestions li:hover {
	color: #FFDE00;
}

h3 {
	font-size: 0.7em;
}

input {
	width: 7em;
	background-color: rgb(240, 83, 83);
	color: #FFDE00;
	border: 1px solid #FFDE00;
	border-radius: 1em;
	font-family: 'Courier New', Courier, monospace;
	padding: 0.3em;
	text-align: center;
	letter-spacing: 2px;
	font-size: 0.5em;
}

input::placeholder {
	color: #FFDE00;
	font-family: pokemon-font;
	letter-spacing: 2px;
}

button  {
	background-color: rgb(240, 83, 83);
	color: #FFDE00;
	border: 1px solid #FFDE00;
	border-radius: 1em;
	font-family: 'Courier New', Courier, monospace;
	padding: 0.3em;
	text-align: center;
	letter-spacing: 2px;
}

@media (min-width: 650px) {

	.header-image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		box-shadow: -0px 1px 20px 5px #4877ad;
	}

	.pokemon-box-one, .pokemon-box-two, .pokemon-box-three, .reserve-box {
		width: 12em;
		height: 20em;
	}
	
	img {
		width: 8em;
		height: 8em;
	}
	
	h3 {
		font-size: 2em;
	}

	input {
		width: 7em;
		height: 1em;
		font-size: larger;
	}

	button {
		width: 5em;
	}

	#toggleBtn {
		width: 12em;
		height: 4em;
		font-size: 1em;
		line-height: 40px;
		padding-left: 3em;
	}

	#pokemonSearchForm {
		width: 100%;
		height: 100%;
		position: relative;
	}

	#pokemonSearchInput {
		width: 18em;
		height: 4em;
		font-size: larger;
		
	}

	#pokemonSearchInput::placeholder {
		color: #FFDE00;
		font-family: pokemon-font;
		padding-left: 0.3em;
		
	}

	.pokemon-search-button {
		width: 10em;
		height: 4em;
		margin-left: 0.3em;
		font-size: larger;
	}

	.suggestions {
		display: flex;
		flex-direction: column;
		width: 60%;
		height: 15em;
		margin-top: 22em;
		list-style-type: none;
		z-index: 1;
		/* overflow-x: scroll; */
		
	}

	.suggestions li {
		cursor: pointer;
		background-color: rgb(240, 83, 83);
		color: #FFDE00;
		padding-left: 2em;
		width: 100%;
	}
	
	.suggestions li:hover {
		color: #FFDE00;
	}

	#messageContainer {
		font-size: larger;
	}

	h3 {
		font-size: 1.5em;
	}
}

@media (min-width: 900px) {

	.header-image {
		width: 100%;
		height: 20rem;
		background-size: cover;
		background-position: center;
		box-shadow: -0px 1px 20px 5px #4877ad;
	}

	.pokemon-box-one, .pokemon-box-two, .pokemon-box-three, .reserve-box {
		width: 12em;
		height: 20em;
	}
	
	img {
		width: 8em;
		height: 8em;
	}
	
	h3 {
		font-size: 1.5em;
	}

	input {
		width: 7em;
		height: 1em;
		font-size: larger;
	}

	button {
		width: 5em;
	}

	#toggleBtn {
		width: 12em;
		height: 4em;
		font-size: 1em;
		line-height: 40px;
		padding-left: 3em;
	}

	#pokemonSearchForm {
		width: 100%;
		height: 100%;
		position: relative;
	}

	#pokemonSearchInput {
		width: 18em;
		height: 4em;
		font-size: larger;
		
	}

	#pokemonSearchInput::placeholder {
		color: #FFDE00;
		font-family: pokemon-font;
		padding-left: 0.3em;
		
	}

	.pokemon-search-button {
		width: 10em;
		height: 4em;
		margin-left: 0.3em;
		font-size: larger;
	}

	.suggestions {
		display: flex;
		flex-direction: column;
		width: 60%;
		height: 15em;
		margin-top: 22em;
		list-style-type: none;
		z-index: 1;
	}

	.suggestions li {
		cursor: pointer;
		background-color: rgb(240, 83, 83);
		color: #FFDE00;
		padding-left: 2em;
		width: 100%;
		
	}
	
	.suggestions li:hover {
		color: #FFDE00;
	}
}

@media (min-width: 1180px) {

	.header-image {
		width: 100%;
		height: 23rem;
		background-size: cover;
		background-position: center;
		box-shadow: -0px 1px 20px 5px #4877ad;
	}

}

@media (min-width: 1500px) {

	.header-image {
		width: 100%;
		height: 28rem;
		background-size: cover;
		background-position: center;
		box-shadow: -0px 1px 20px 5px #4877ad;
	}

}

@media (min-width: 2200px) {

	.header-image {
		width: 100%;
		height: 32rem;
		background-size: cover;
		background-position: center;
		box-shadow: -0px 1px 20px 5px #4877ad;
	}

}